body{
    text-align: center;
    background-color: #f0e8c5;
    font-size: 20px;
    font-weight: bold;
}
div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
img{
    height: 150%;
    width: 300%;
}
